@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Custom CSS for login button*/
@layer utilities {
    .group:hover .group-hover\:w-full {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));      
    }
  }
  
  /* Custom CSS */

  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.6s ease-out;
  }
  
  .hover-zoom:hover img {
    transform: scale(1.05);
  }
  
  .hover-zoom img {
    transition: transform 0.3s ease-in-out;
  }